
body {
  background-color: #000000 !important;
  color: #fff !important; 
}

.card {
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
  
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

.card-header {
  text-align: center !important;
  color: #383838;
}

.card-header-cat {
  color: white !important;
}

.card-body-cat {
  padding: 0 !important;
}

.card-footer-cat {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: linear-gradient(90deg, rgb(88 82 59) 40%, rgb(35 27 1) 100%);
  color: wheat;
}

.dropdown-item.active{
  background-color:#212529 !important;
}

.media-card-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.media-card-wish {
  position: absolute;
  top: 50px;
  line-height: 0;
  right: 15px;
  padding-top: -5px;
  padding: 15px 10px 18px;
  color: white;
  border-radius: 4px;
  font-size: 2rem;
  box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.4);
  opacity: 0.6;
  cursor: pointer;
  user-select: none;
}

.media-card-wish:hover {
  opacity: 1;
}

.entry-text {
  color: gainsboro;
  margin: 0;
}

@media (min-width: 1400px) {
  .entry-container {
    width: 70rem !important;
  }
}

@media (min-width: 992px) {
  .entry-image {
    max-height: 30rem;
    object-fit: cover;
  }
}

@media (max-width: 767px) {
  .entry-text {
    font-size: 0.8rem;
  }
}

@media (max-width: 1199px) {
  .entry-text {
    font-size: 0.9rem;
  }
}

.entry-container-bg {
  background-size: cover;
  height: 95vh;
  background-repeat: no-repeat;
  position: fixed;
  background-position: center;
  overflow-y: auto;

  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}


.entry-image {
  border: 5px solid #8e7b15;
  padding: 0 !important;
}

.gray-backdrop {
  background-color: #212529;
  height: 100%;
}

.goldtext-dark {
  color:#8e7b15
}

/* in */
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}


/* out */
@-moz-keyframes fadeIn {
  100% {opacity:0;}
  0% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  100% {opacity:0;}
  0% {opacity:1;}
}

@-o-keyframes fadeIn {
  100% {opacity:0;}
  0% {opacity:1;}
}

@-ms-keyframes fadeIn {
  100% {opacity:0;}
  0% {opacity:1;}
}

.cat-action {
  background: rgb(8,75,88);
  background: linear-gradient(180deg, rgba(49,149,168,1) 0%, rgba(8,75,88,1) 100%);
}

.cat-comedy {
  background: rgb(195,131);
  background: linear-gradient(180deg, rgba(238,234,20,1) 0%, rgba(195,131,0,1) 100%);
}

.cat-thriller {
  background: rgb(185,185,185);
  background: linear-gradient(180deg, rgba(185,185,185,1) 0%, rgba(55,67,89,1) 100%);
}

.cat-war {
  background: rgb(3,27,4);
  background: linear-gradient(0deg, rgba(3,27,4,1) 0%, rgba(12,79,15,1) 100%);
}

.cat-romance {
  background: rgb(154,33,70);
  background: linear-gradient(180deg, rgba(154,33,70,1) 0%, rgba(70,11,39,1) 100%);
}

.cat-drama {
  background: rgb(121,86,6);
  background: linear-gradient(0deg, rgba(121,86,6,1) 0%, rgba(246,203,106,1) 100%);
}

.cat-horror {
  background: rgb(115,22,22);
  background: linear-gradient(180deg, rgba(115,22,22,1) 0%, rgba(52,12,12,1) 100%);
}

.cat-crime {
  background: rgb(10,6,121);
  background: linear-gradient(180deg, rgba(10,6,121,1) 0%, rgba(22,20,68,1) 100%);
}

.cat-documentary{
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(184,184,184,1) 100%);
  color: #737373 !important;
}

.hero {
  padding: 0;
  margin: 0;
}

/* .category-headline-Series {
  color: rgba(0,0,0,0);
  animation: fadeInHeadline 1s;
  -webkit-animation: fadeInHeadline 1s;
  -moz-animation: fadeInHeadline 1s;
  -o-animation: fadeInHeadline 1s;
  -ms-animation: fadeInHeadline 1s;
}

@keyframes fadeInHeadline {
  0% {color: rgba(0,0,0,0);}
  100% {color: rgba(255, 255, 255, 1);}
} */