
/* body {
  background-color: #1d1e1f !important;
  color: #fff !important; 
}
 */
.card-header-cat {
  text-align: center !important;
}

.card-body-cat {
  padding: 0 !important;
}

.card-footer-cat {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-item.active{
  background-color:#212529 !important;
}

.media-card-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}